body {
	font-family: Arial, sans-serif;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

header {
	background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);;	
	padding: 20px
}

iframe{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
ul a{
	color: white

}
	
h1{
	color: white
}
body{
background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);;	
}
